body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #dbe2f6;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 64px;
  font-weight: normal;
}

form {
  display: flex;
  align-items: center;

  width: 560px;
  height: 44px;

  background-color: white;
  border-radius: 24px;

  padding: 0 16px;
}

input {
  border: none;
  outline: none;

  font-size: 16px;

  flex: 1;
}

form button:last-child {
  padding: 6px 12px;
  border-radius: 999px;
  border: none;
  background-color: #f1f3f4;
  font-size: 14px;
  cursor: pointer;
}
